#content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  max-width: 1000px;
  margin: 12px auto;
  padding: 0 24px;
  width: calc(100% - 48px);
}

#content-wrapper {
  margin-top: 7%;
  margin-left: 15%;
}
