<nav>
  <div class="nav-content">
    <ul class="menu-list">
      <li><a href="/" class="logo"><img src="{{ "assets/img/logo-valadoc-br-mini.png" | relative_url }}"/></a></li>
      <li><a href="/docs">Documentação</a></li>
      <li><a href="/showcase/componentes">ShowCase</a></li>
      <li><a href="https://www.elementary-br.org">elementary Brasil</a></li>
    </ul>
    <ul class="social-icon-list">
        <!-- TODO: Fazer um loop em liquid pra evitar repetição -->
        <li>
            <a href="https://www.facebook.com/elementarybr" target="_blank" title="Facebook">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li>
            <a href="https://plus.google.com/u/0/communities/117595910220071406293" target="_blank" title="Google+">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/@elementaryOSBR" target="_blank" title="Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li>
            <a href="https://t.me/elementarybr" target="_blank" title="Telegram">
                <i class="fa fa-telegram"></i>
            </a>
        </li>
        <li>
            <a href="https://medium.com/elementarybr" target="_blank" title="Medium">
                <i class="fa fa-medium"></i>
            </a>
        </li>
        <li>
            <a href="https://github.com/elementary-br" target="_blank" title="github">
                <i class="fa fa-github"></i>
            </a>
        </li>
    </ul>
  </div>
</nav>
