<div class="sidebar" style="height: calc((100% - 0px) - 48px);">
  <ul class="index">

    <li class="active"><a href="#human-interface-guidelines">Human Interface Guidelines</a></li>
    <li class=""><a href="#design-philosophy">Design Philosophy</a></li>
    <ul>
      <li><a href="#what-design-is-not">What Design Is Not</a></li>
      <li><a href="#concision">Concision</a></li>
      <li><a href="#accessible-configuration">Accessible Configuration</a></li>
      <li><a href="#minimal-documentation">Minimal Documentation</a></li>
    </ul>
    <li><a href="#user-workflow">User Workflow</a></li>
    <ul>
      <li><a href="#first-launch-experience">First-Launch Experience</a></li>
      <li><a href="#normal-launch">Normal Launch</a></li>
      <li><a href="#always-provide-an-undo">Always Provide an Undo</a></li>
      <li><a href="#always-saved">Always Saved</a></li>
      <li><a href="#closing">Closing</a></li>
      <li><a href="#background-tasks">Background Tasks</a></li>
    </ul>
    <li><a href="#desktop-integration">Desktop Integration</a></li>
    <ul>
      <li><a href="#app-launchers">App Launchers</a></li>
      <li><a href="#contractor">Contractor</a></li>
      <li><a href="#dock-integration">Dock Integration</a></li>
      <li><a href="#system-indicators">System Indicators</a></li>
      <li><a href="#notifications">Notifications</a></li>
    </ul>
    <li><a href="#container-widgets">Container Widgets</a></li>
    <ul>
      <li><a href="#windows">Windows</a></li>
      <li><a href="#dialogs">Dialogs</a></li>
      <li><a href="#popovers">Popovers</a></li>
      <li><a href="#toolbars">Toolbars</a></li>
    </ul>
    <li><a href="#ui-toolkit-elements">UI Toolkit Elements</a></li>
    <ul>
      <li><a href="#widget-concepts">Widget Concepts</a></li>
      <li><a href="#infobars">Infobars</a></li>
      <li><a href="#welcome-screen">Welcome Screen</a></li>
      <li><a href="#source-list">Source List</a></li>
      <li><a href="#buttons">Buttons</a></li>
      <li><a href="#search-fields">Search Fields</a></li>
      <li><a href="#selection-controls">Selection Controls</a></li>
      <li><a href="#notebooks">Notebooks</a></li>
    </ul>
    <li><a href="#iconography">Iconography</a></li>
    <ul>
      <li><a href="#shape">Shape</a></li>
      <li><a href="#size">Icon Sizes</a></li>
      <li><a href="#color">Color Palette</a></li>
      <li><a href="#symbolic-icons">Symbolic Icons</a></li>
      <li><a href="#composition">Composition</a></li>
      <li><a href="#contrast">Outlines &amp; Contrast</a></li>
      <li><a href="#shadows">Shadows &amp; Highlights</a></li>
      <li><a href="#dos-donts">Dos and Don'ts</a></li>
    </ul>
    <li><a href="#text">Text</a></li>
    <ul>
      <li><a href="#writing-style">Writing Style</a></li>
      <li><a href="#language">Language</a></li>
      <li><a href="#capitalization">Capitalization</a></li>
      <li><a href="#punctuation">Punctuation</a></li>
      <li><a href="#using-ellipses">Using Ellipses</a></li>
      <li><a href="#naming-menu-items">Naming Menu Items</a></li>
    </ul>
  </ul>
</div>
