/* You can add global styles to this file, and also import other style files */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  box-sizing: border-box;
  color: #333;
  fill: #333;
  font-family: "Open Sans", "Droid Sans", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 8px 0;
}

p {
  margin: 0;
}

.subtitle {
  font-size: 17px;
  font-weight: 300;
  margin: 0 0 16px;
  padding: 0;
}

a,
a:link,
a:visited,
a:active {
  color: #000000;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
}

.nav-fixed {
  position: fixed;
}

.nav-relative {
  position: relative;
}
