<app-nav></app-nav>

<div class="content" role="main">
  <div id="content-container">
    <section class="grid-team">
      <div class="two-thirds">
        <h1>{{ 'team.title' | translate }}</h1>
        <p class="subtitle">{{ 'team.subtitle' | translate }}</p>
      </div>
      <div class="whole">
        <div class="team-directory">
          <app-member *ngFor="let member of members" [valor]="member"></app-member>
        </div>
      </div>
    </section>
  </div>
</div>

<app-footer></app-footer>
